/* .container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; */
  /* align-items: baseline; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: first baseline; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  /* flex-direction: column-reverse; */
  /* border: 2px solid #333; */
  /* margin: 20px; */
  /* height: 200px; useful for vertical alignment demos */
/* 
}

.item {
  background: lightblue;
  border: 1px solid #333;
  width: 200px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
} */

/* difference b/w baseline and fles-start */



.grid-container {
  display: grid;
  border: 2px solid #333;
  margin: 20px;
  /* grid-template-columns: 100px 100px 100px ; */
  /* grid-template-columns: 1fr 2fr 1fr 3fr; */
  grid-template-columns: repeat(2, 1fr) 2fr;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ; */



  gap: 10px; /* space between items */
}

.item {
  background: lightblue;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
.item:nth-child(1) {
  grid-column: 1/2; /* spans across column 1 and 2 */
}

.item:nth-child(2) {
  grid-row: 1 / 3; 
}

.item:nth-child(3) {
  grid-row: 1 / 3; 
}

/* upar vala khud padna hai*/ 

