:root {
      --primary: #f4f4f9;
      --sidebar-bg: #2c3e50;
      --accent: #1abc9c;
      --danger: #ff6f61;
      --text: #333;
      --card-bg: #fff;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: "Poppins", sans-serif;
    background: var(--primary);
    max-height: 100vh;
}

.side_bar{
    background-color: var(--sidebar-bg);
    color: var(--accent);
    width: 250px;
    min-height: 100vh;
    padding: 1.5rem;
    position: sticky;
    top: 0;

}
.side_bar h2{
    font-size: 1.6rem;
    border-bottom: 3px solid var(--accent);
    margin-bottom: 2.5rem ;
}
.side_bar ul{
    list-style: none;
    margin: 1rem 0;

}
.side_bar ul li{
    font-size: 1rem;
    margin: 1.9rem 0;
}

a{
    color: #fefefe;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
}
a:hover{
    background-color: #fff1;
    color: var(--accent);
}

/*===================================================*/
.content{
    flex: 1;
    padding: 2rem;
    height: 100vh;
    overflow-y: scroll;

}

.section-title {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    color: var(--sidebar-bg);
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card{
    background-color: var(--card-bg);
    border-radius: 0.5rem;
    box-shadow: 0 4px 11px rgba(0,0,0,0.15);
    max-width: 280px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
    
}
.card:hover{
    transform: translateY(-8px);
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.card h3{
    margin: 1rem 0 0.5rem;
      color: var(--text);
}
.card p{
    margin: 1rem 0 0.5rem;
    color: var(--text);
    padding: 0px px;
}
.buy-btn {
      display: inline-block;
      margin: 1rem;
      padding: 0.8rem 1.2rem;
      background: var(--danger);
      color: #fff;
      border: none;
      border-radius: 18px;
      cursor: pointer;
      font-weight: bold;
      transition:  background 0.3s;
    }

.buy-btn:hover {
      background: #e85a4f;
}

.blog{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.blog-card{
    background-color: var(--card-bg);
    border-radius: 0.5rem;
    box-shadow: 0 4px 11px rgba(0,0,0,0.15);
    min-width: 280px;
    max-width: 28%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    flex: 1;
    overflow: hidden;
}
.blog-card:hover{
    transform: translateY(-8px);
}
.blog-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow :0 4px 25px rgba(0,0,0,0.14);
}
.blog-card h3{
    margin: 1rem;
    color: var(--accent);
}
.blog-card p{
    margin: 0 1rem 1rem;
    color: #555;
}
    .read-more {
      background: var(--accent);
      color: #fff;
      padding: 0.8rem;
      text-align: center;
      font-weight: bold;
      border-top: 1px solid #ddd;
      cursor: pointer;
      transition: background 0.3s;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    .read-more:hover {
      background: #16a085;
    }

/* @media (max-width:786px){
    body{
        flex-direction: column;
    }
    .side_bar{
        position: none;
    }
} */