*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
.card{
    min-height: 250px;
    width: 20rem;
    margin:2.5rem;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 15px;
    display: block;
    object-fit: contain;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
img{
    width: 100%;
     height: 200px;        /* standard height */
    object-fit: contain;
    margin-bottom: 1rem;
   
}
.content span{
    display: inline-block;
    color: #9c9797;
    margin-left: 5px;
    margin-bottom: 6px;
}
.content p{
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 25px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bolder;
}
.btn{
    display: flex;
    gap: 15px;
    margin: 15px;
    margin-bottom: -1px;
    margin-left: -1px;
}
button{
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    border: none;
    color: white;
    background-image: linear-gradient(90deg, #ff7a18, #319197);
    transition: transform 0.3s ease-in-out;
}
button:hover{
    transform: translateY(-5px);
    cursor: pointer;
    background-image:  linear-gradient(90deg, #44bec7, #e7660a);
}